*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: serif;
}

/* TOP BAR */
.topbar{
    background:black;
    color:white;
    text-align:center;
    padding:10px;
    font-weight:bold;
}

/* NAV */
.nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#9e2b2b;
    color:white;
    padding:15px 40px;
}

.nav ul{
    display:flex;
    gap:20px;
    list-style:none;
}

.nav h2{
    color:#ffd699;
}

/* BREADCRUMB */
.breadcrumb{
    background:#ccc;
    padding:10px 40px;
}

/* PRODUCT */
.product{
    display:flex;
    gap:50px;
    padding:40px;
}

/* IMAGE */
.image img{
    width:600px;
}

/* DETAILS */
.details{
    max-width:500px;
    margin: 20px;
}

.details h1{
    font-size:28px;
    margin-bottom:10px;
}

/* TAG */
.tag{
    background:blue;
    color:white;
    padding:3px 8px;
    border-radius:5px;
    font-size:12px;
}

.code{
    font-size:12px;
    margin-left:10px;
}

/* DESCRIPTION */
.desc{
    margin:10px 0;
}

/* RATING */
.rating{
    margin:10px 0;
}

.rate-box{
    background:green;
    color:white;
    padding:2px 6px;
    border-radius:4px;
    margin-left:5px;
}

/* PRICE */
.price{
    font-size:28px;
    margin:10px 0;
}

/* BUTTON */
.cart{
    background:#5b0f0f;
    color:white;
    padding:15px;
    border:none;
    font-size:22px;
    border-radius:8px;
    width:250px;
    cursor:pointer;
    margin-top: 20px;
}

.list{
    display:block;
    margin-top:10px;
    margin: 10px;
}

/* CALL */
.call{
    margin-top:15px;
    color:blue;
}

/* TABS */
.tabs{
    margin-top:10px;
}

.tabs span{
    margin-right:10px;
}

/* ---------------- RESPONSIVE ---------------- */

/* MOBILE */
@media(max-width:768px){

    .nav{
        flex-direction:column;
        gap:10px;
    }

    .product{
        flex-direction:column;
        padding:20px;
    }

    .image img{
        width:100%;
    }
}

/* TABLET */
@media(min-width:769px) and (max-width:1024px){
    .product{
        flex-direction:column;
    }

    .image img{
        width:100%;
    }
}