*{
    margin: 0%;
    padding: 0%;
}
nav{
    background-color: black;
    color: white;
    padding: 15px;
}
li,ul,h2{
    display: inline;
}
.searchbar{
    height: 3opx;
    width: 98%;
    background-color: brown;
    padding: 15px;
    }
    .one{
        color: gainsboro;
        margin-right: 0%;
    }
    .tow{
        color: gainsboro;
    }
    h2{
        color: wheat;
        margin: 30%;
        text-align: center;
    }
    .Home{
        height: 20px;
        width: 98%;
        background-color: darkgrey;
        padding: 15px;
    }
    li:hover{
        cursor: pointer;
        color:blue;
    }
    .container{
        position: relative;
        display: inline-block;
        margin: 40px;
        padding: 15px;
    }
    h1{
        position: absolute;
        top: 10px;
        right: 240px;
        background: white;
        padding: 5px;
        font-weight: bold;
    }
    .row{
         position: absolute;
        top: 60px;
        right: 37%;
        background: white;
        padding: 5px;
        
    }
    .primary{
        background-color: blue;
        color: white;
        font-size: 12px;
        padding: 3px 8px;
        border-radius: 6px;
        width: 5px;
    }
    .monospaced{
        font-size: 10px;
        color: rgb(36, 34, 34);
    }
    .content{
        position: absolute;
        top: 90px;
        right: 18%;
        background: white;
        padding: 5px;
        font-weight: lighter;
        font-size: 15px;
    }
    .rating{
        position: absolute;
        top: 40%;
        right: 32%;
        background: white;
        padding: 5px;
        font-weight: bold;
        font-size: 15px;
    }
    .price{
        font-size: 25px;
        padding: 10px;
        font-weight: bold;
    }
    .stars{
        color:gray;
        font-size: 16px;
    }
    .rating-box{
     background-color: #4CAF50;
     color:white;
     font-size: 12px;
     padding: 2px 6px;
     border-radius: 4px;

    }
.line{
    height: 1px;
    background: #000;
    width: 335%;
    margin: 20px;
    position: relative;
    top:50%;
    right: 20%;
}
.shape{
    background-color:rgb(50, 5, 5);
     color:white;
     font-size: 40px;
     padding:5px 5px ;
     border-radius: 8px;
    

}
 .add{
    margin: 15px;
    margin-top: 20px;
    padding: 20px;
 }
.line-1{
height: 1px;
    background: #000;
    width: 330%;
    margin: 40px;
    position: relative;
    top:50%;
    right: 20%;
} 
.create{
   position: absolute;
        top: 90%;
        right: 32%;
        background: white;
    } 
    